#about{
    margin: auto;
    /* display: flex; */
    text-align: center;
    color: #0b9ca1;
}
#about_resume{
    font-size: 30px;
}
#user-detail-intro{
text-align: justify;
padding: 79px;
}
#resume-button-2{
    font-size: 30px;
}