#about{
    margin: auto;
    /* display: flex; */
    text-align: center;
    color: #0b9ca1;
}
#about_resume{
    font-size: 30px;
}
#user{
    padding-top: 79px;
}
#user-detail-intro{
text-align: justify;
padding-left: 40px;
padding-right: 40px;
}
#resume-button-2{
    font-size: 30px;
    margin-bottom: 79px;
}