#home{
    display: flex;
    margin: auto;
    margin-top: 30px;
    justify-content: space-evenly;
}

#home img{
    width: 25%;
    border-radius: 40px;
    border: 4px solid #0b9ca1;
}
#user-detail-name{
font-size: 50px;
margin-top: 190px;
color: #0b9ca1;
}