#home{
    display: flex;
    margin: auto;
    margin-top: 80px;
    justify-content: space-evenly;
}

#home img{
    width: 25%;
    border-radius: 40px;
    border: 4px solid #0b9ca1;
}
#user-detail-name{
font-size: 40px;
margin-top: 170px;
color: #0b9ca1;
}
#about_resume{
border: 5px solid #0b9ca1;
background-color: transparent;
color: #0b9ca1;
padding: 10px;
}
#user{
  font-size: 30px;
  padding: 30px;
}
#resume-button-2{
margin-top: 40px;
}


/* contact */
#contact{
  background-color: #0b9ca1 ;
    /* max-width: 68.75rem; */
    margin: auto;
    text-align: center;
    /* margin-top: 2.5rem; */
    color: white;
    padding-bottom: 20px;
  }
  #contact a{
    text-decoration: none;
    color: white;
  }
  
   #contact a> i{
    background-color: #0b9ca1;
      border-radius: 0px;
      padding: 7px;
      margin-left: 5px;
   }
  
  /* react-activity-calendar */
  .react-activity-calendar{
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    /* margin-top: 2.5rem; */
    color: #0b9ca1; 
  }
  /* .contact>i{
    color: #0b9ca1; 
  } */
  @media  screen and (max-width: 1200px) and (min-width: 749px) {
    #user-detail-name{
      font-size: 30px;
      margin-top: 70px;
      color: #0b9ca1;
      }
  }
  @media (max-width:750px) {
    #user-detail-name{
      font-size: 20px;
      margin-top: 50px;
      color: #0b9ca1;
      }
      #home img{
        width: 25%;
        border-radius: 100%;
        border: 4px solid #0b9ca1;
    }
  }