/* #projectsdiv{
    display: block;
    grid-template-columns: repeat(2,1fr);
    gap:10px
  }
  #projects {
    /* max-width: 68.75rem; */
    /* margin: auto;
    text-align: center;
    margin-top: 2.5rem;
    color: #0b9ca1; } */
/* 
  #project-card+img{
    width: 200px;
    height: 500px;
  } */
    /* @media (max-width:750px) {
    #projectsdiv{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
      }
  } */

  .project-card{
    display: flex;
  }
#projectimg{
  padding: 20px;
  border:3px solid rgb(8, 172, 187);
  margin-bottom:20px;
}
#projectimg>img{
  width: 600px;
  height: 400px;
 }

#projects {
 max-width: 88.75rem;
 margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  color: #0b9ca1; 
}
@media (max-width:750px) {
  #projectimg{
    width: 50%;
    height: 50%;
   }
  #projectimg img{
   width: 100%;
   height: 100%;
  }
}