#skills {

    max-width: 78.75rem;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    /* margin-top: 2.5rem; */
    color: #0b9ca1;
  }

  .skill-header {
    margin-bottom: 1rem;
  }
  .skills-card img {
    width: 150px;
    height: 150px;
    padding: 1.25rem;
  }
/*   
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  } */
  .skills-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    /* margin-left: 200px; */
  }
  .skills-card-img:hover{
    border-radius: 40;
    box-shadow: #0b9ca1 0px 3px 8px;
  }
  @media  screen and (max-width: 1200px) and (min-width: 749px) {
    .skills-card{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
  }

  @media (max-width:750px) {
    .skills-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      }
  }