.skills1 {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    /* margin-top: 2.5rem; */
    color: #0b9ca1;
  }

  .skill-header {
    margin-bottom: 1rem;
  }
  .skills-card img {
    width: 300px;
    height: 200px;
    padding: 1.25rem;
  }
/*   
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  } */
  .skills-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px
  }
  @media (max-width:750px) {
    .skills-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      
      }
  }